.coin{
    margin-top: 1rem;
}
.nav-main{
    background-color: #8D72E1;
    color: #ECF2FF;
    margin: 1.5vw 1vw 0vw 1vw;
    padding: 2px 10px 2px 20px ;
    border-radius: 12px;
    position: sticky;
    display: flex;
    /* height: 20px; */
}
.add-section{
    background-color: #502064;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-right: 35rem;
}

.add-section button{
    margin: 0px 0px;
    font-weight: 700;
    font-size: large;
    border: none;
    background-color: transparent;
    color: #ECF2FF;
}
